<div class="card h-100">
    <% if @kitten.picture.attached? %>
        <%= image_tag @kitten.picture, alt: 'picture', class: 'w-100'%>
    <% else %>
        <%= image_tag 'pexels-russie-1560424.jpg', alt: 'picture', class: 'w-100'%>
    <% end %>
    <div class="card-body">
        <h5 class="card-title"><%= @kitten.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Admin :</h6>
        <p class="card-text"> some text </p>
        <p class="card-text"> some other text </p>
        <a href="<%= kitten_path(@kitten.id) %>" class="card-link btn btn-dark">Show</a>
        <%= button_to "Ajouter au panier", line_items_path, method: :post, params: {kitten_id: @kitten.id}, class: "btn btn-outline-primary"%>
    </div>
</div>
