<%= form_with url: "#{user_path(current_user.id)}", method: :patch do |form| %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>