<p id="notice"><%= notice %></p>

<h1>Join Wallet Items</h1>

<table>
  <thead>
    <tr>
      <th>Wallet</th>
      <th>Kitten</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @join_wallet_items.each do |join_wallet_item| %>
      <tr>
        <td><%= join_wallet_item.wallet %></td>
        <td><%= join_wallet_item.kitten %></td>
        <td><%= join_wallet_item.quantity %></td>
        <td><%= link_to 'Show', join_wallet_item %></td>
        <td><%= link_to 'Edit', edit_join_wallet_item_path(join_wallet_item) %></td>
        <td><%= link_to 'Destroy', join_wallet_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Join Wallet Item', new_join_wallet_item_path %>
